<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD Dragons</a>
        <h5>By Sánchez Cabrera Justino Antonio 5IV8</h5>
        <div class="d-flex justify-content-between-align-items-center">
            <form action="/guardars" >
                <button type="submit" class="btn btn-primary">Agregar Registro</button>
            </form>
        </div>
        <div class="d-flex justify-content-between-align-items-center">
            <form action="/Busqueda" >
                <button type="submit" class="btn btn-primary">Búsqueda Avanzada</button>
            </form>
        </div>
        
    </nav>
    